<h2>Validated form</h2>
<div class="users-list">
  <span>Users:</span> 
  <ul>
    <li (click)="selectUser(user.id)" *ngFor="let user of users">{{user.name}}</li>
  </ul>
</div>
<div [formGroup]="userFormGroup">
  <div>Name: <input formControlName="name"></div>
  <div>Age: <input formControlName="age" type="number"></div>
  <div>Left handed: <input formControlName="leftHanded" type="check"></div>
  <div [formGroup]="child" *ngFor="let child of getChildrenArray(userFormGroup); let i = index">
    <h4>Child {{i+1}}</h4>
    <div>Name: <input formControlName="name"></div>
    <div>Age: <input formControlName="age" type="number"></div>
    <div>Left handed: <input formControlName="leftHanded" type="check"></div>
  </div>
</div>

